<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993897627966-1uioidupn0j172epju204e61m86cra2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993897627966-1uioidupn0j172epju204e61m86cra2a</string>
	<key>API_KEY</key>
	<string>AIzaSyBlp3QI39sNDYKmVV_tC50IrYmN8UGrqOs</string>
	<key>GCM_SENDER_ID</key>
	<string>993897627966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kagajpatra</string>
	<key>PROJECT_ID</key>
	<string>merokagajpatra-862ed</string>
	<key>STORAGE_BUCKET</key>
	<string>merokagajpatra-862ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993897627966:ios:68b144ef6b0e42a6afac6f</string>
</dict>
</plist>